body {
    justify-content: space-between;
}

h1 {
    color: var(--primary);
}

#logo-container {
    width: 11rem;
    height: 8rem;
}

#logo {
    width: 100%;
    margin-top: 3rem;
    z-index: 10;
}

#agenda-container {
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    margin-block: 3rem;
}

#agenda-container div {
    background: var(--primary); /* Light grey background */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    padding: 10px;
    color: white;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all ease-in-out 200ms;
}

#agenda-container div:hover {
    background: var(--secondary); /* Darker grey background on mouse-over */
}

.agenda-text {
    width: 20rem;
    margin-bottom: 2rem;
}

.agenda-text span {
    color: var(--primary);
}

#instagram-container {
    border: solid 1px white;
    border-radius: 100vw;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

#instagram {
    filter: invert(1);
    width: 1rem;
}

#credits {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
}


/* Responsive */

@media (max-width: 768px) {

    .container {
        width: 100vw;
    }

    #btn {
        width: 100%;
    }
}
