@font-face {
    font-family: "Lovelo";
    src: url("./imgs/Lovelo-Black.ttf");
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Lovelo, 'Arial', sans-serif;
    background-color: #141414;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: Lovelo, 'Arial', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141414;
    z-index: 10;
}

nav div {
    position: relative;
    padding: 3vw;
    display: flex;
}

nav img {
    width: 10rem;
    cursor: pointer;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main article h1 {
    width: 100%;
    color: #8c52ff;
    font-size: 3rem;
    letter-spacing: 10px;
    margin-bottom: 6rem;
}

main article h2 {
    width: 100%;
    color: white;
    font-size: 3vw;
    letter-spacing: 20px;
    margin-bottom: 7rem;
}

main article h2 span {
    padding-bottom: 5px;
    border-bottom: solid 4px #8c52ff;
}

main article button {
    padding: 10px 35px;
    background-color: #8c52ff;
    color: #141414;
    border-radius: 100vw;
    cursor: pointer;
    transition: all 300ms ease;
}

main article button:hover {
    color: #8c52ff;
    background-color: #141414;
    border: solid 1px white
}

section article {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

section article div h1 {
    color: white;
    font-size: 2rem;
}

section article div div {
    width: 70%;
    height: 5px;
    margin-top: -1rem;
    background-color: #8c52ff;
}

section article img {
    margin-bottom: 3rem;
}

section article h2 {
    color: white;
    text-align: left;
}

section article h2 span {
    border-bottom: solid 4px #8c52ff;
}

section article h3 {
    width: 60%;
    color: white;
    text-align: left;
    padding-left: 8vw;
    font-size: 2rem;
}

#timer {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2rem;
    padding-right: 8vw;
    gap: 1rem;
}

#timer-dots {
    width: 1rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    margin-bottom: 0;
}

#timer-dots div {
    width: 15px;
    height: 15px;
    background-color: white;
}

.timer-card {
    position: relative;
    width: 7rem;
    height: 10rem;
    font-size: 7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: #191824;
}

.timer-card.label:after {
    position: absolute;
    right: 0;
    width: 100%;
    height: 15px;
    font-size: .8rem;
    padding: 5px;
    color: white;
    text-align: right;
}


.timer-card.label.one:after {
    content: attr(data-label);
}

.timer-card.label.two:after {
    content: attr(data-label);
}

footer {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 3rem;
}

footer p {
    color: white;
    padding-inline: 8vw;
}

footer p a {
    color: white;
    text-decoration: none;
}

footer p span a {
    color:#8c52ff;
}

footer p a:hover,
footer p span:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width:1050px) {
    #timer,
    section article h3 {
        width: 100%;
    }
}


@media screen and (max-width:700px) {
    main article h1 {
        font-size: 2rem;
    }

    main article h2 {
        font-size: 1rem;
        letter-spacing: 10px;
    }

    section article div h1 {
        font-size: 1.5rem;
    }

    section article img {
        width: 65vw;
    }

    section article h2 {
        font-size: 1rem;
    }

    .timer-card {
        width: 5rem;
        height: 7rem;
        font-size: 5rem;
    }
}

@media screen and (max-width:450px) {
    main article h1 {
        font-size: 1.5rem;
    }

    main article h2 {
        font-size: .9rem;
        letter-spacing: 5px;
    }

    #timer {
        gap: .5rem;
    }

    .timer-card {
        width: 3.5rem;
        height: 5.5rem;
        font-size: 4rem;
    }

    #timer-dots div {
        width: 10px;
        height: 10px;
    }

    .timer-card.label:after {
        font-size: .6rem;
        padding: 0;
    }

    footer p {
        font-size: .8rem;
    }
}